@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --bgBlue: #080101;
  --yellowBorder: #FFFFFF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-image: url(../assets/imgs/loginFundo.jpg);
  background-size: cover;
}
/* Arrumando a pág / separando a pagina background e container */
section {
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* Botão voltar na parte superior da tela */
section .btnBack {
  position: absolute;
  top: 5%;
  left: 3%;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
  z-index: 10;
}
section .btnBack:hover {
  opacity: 1;
}
/* Conteúdo da pág */
/* Containers / caixa geral*/
section .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

section .contentBox .formBox {
  position: relative;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*Titulo geral da box*/

section .contentBox .formBox h2 {
  color: #fffdff;
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  border-bottom: 4px solid var(--yellowBorder);
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 20px;
}
section .contentBox .formBox .subtitle {
  font-family: "Manrope";
  color: #99968c;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 20px;
}
/* Estilização dos inputs */
section .contentBox .formBox .border {
  display: flex;
  border-bottom: 1px solid var(--yellowBorder);
  margin-top: 35px;
  padding: 5px;
}

section .contentBox .formBox .inputBox input {
  width: 300px;
  padding: 10px;
  outline: none;
  font-weight: 400;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  background: transparent;
  color: #FFFFFF;
}
input::placeholder{
  color: #fffffc;
}
/* Ícones */
section .contentBox .formBox form .visibility {
  position: absolute;
  right: 1rem;
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}
section .contentBox .formBox form .visibility:hover {
  opacity: 1;
}
section .contentBox .formBox .inputBox img {
  width: 30px;
}
/* Botão para Enviar Formulário  */
section .contentBox .formBox .inputBox input[type="button"] {
  background: var(--bgBlue);
  color: #fff;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 600;
  margin: 50px;
  border: none;
  width: 140px;
}

section .contentBox .formBox .inputBox input[type="button"]:hover {
  background: var(--yellowBorder);
  color: #000;
}
/*Lembrar senha*/
section .contentBox .formBox .remember{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: .2s;
  padding: 20px;
}
section .contentBox .formBox .remember span{
  font-size: 18px;
  letter-spacing: 3px;
}

/* Já tem cadastro, texto para ir até a tela de login */
section .contentBox .formBox .inputBox .cadastrar {
  color: rgb(197, 197, 197);
  margin-top: 55px;
}

section .contentBox .formBox span a {
  color: var(--yellowBorder);
  
}
/* Estilização do Span de error chamado no JavaScript */

section .contentBox .formBox .inputBox 
#spanErrorUser,
#spanErrorPassword,
#spanErrorName,
#spanErrorEmail,
#spanErrorContate {
  position: absolute;
  visibility: hidden; 
  right: -10rem;
  margin-top: -18px;
  padding: 20px;
  box-shadow:  5px 6px 2px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(68, 68, 68, 0.5);
  border-radius: 20px;
}

section .contentBox .formBox .inputBox .active {
  /* display: block; */
  visibility: visible !important; /* Necessário para aparecer na tela e sobrepor o  a estilização do ID */
  color:  #FFFFFF ;
}