@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}
::-webkit-scrollbar { width: 12px; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #3a3a3a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #959595; border-radius: 3px;}

/*Sidebar total*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color:  #2499ff;
    width: 15%;
    height: 100vh;
}

/*Icone de usuário e Nome completo*/
.icone-perfil {
    display: flex;
    width: 50%;
    margin-top: 6vh;
    justify-content: center;
    align-self: center;
}

h3 {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 4vh;
}

/*Categorias do sidebar - lista*/

.sidebar-titulo { 
    display: flex;
    width: 100%;
    margin-left: 1vh;
    margin-right: 4vh;
    justify-content: center;
    align-items: center;
    font-size: .5;
    color: black;
    }

.sidebar-lista {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 60vh;
    justify-content: space-evenly;
}

.sidebar-lista li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

.sidebar-lista li a {
    display: flex;
    text-decoration: none;
    width: 100%;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    transition: 0.4s;
}

/*Hover das categorias do sidebar - lista*/
.sidebar-lista li a:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 6px 2px 1px rgba(0, 255, 230, .5), inset 0px 0px 25px 5px rgba(0,255,230,0);
    border: 1px solid rgba(0, 255, 230, .5);
    transition: 0.4s;
}

/*Icones das categorias (lista) do sidebar*/
.sidebar-icone-lista {
    display: flex;
    justify-content: flex-start;
    margin-left: 5vh;
}

body {
    background-image: url(https://static-dm.akamaized.net/siege/prod/6b7885a09c1f3d4061157b6b5f04f481.png), url(https://static-dm.akamaized.net/siege/prod/f9b222cd800c493a01561af81c456fa0.png), url(https://static-dm.akamaized.net/siege/prod/c7b872203768028fdd4b6aed54c69ea3.png),url(https://static-dm.akamaized.net/siege/prod/5222e2b34a1864b076632b9b47dddaaa.png), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg);
    background-color: #FFFFFF; 
    width: 100%;
}

.container_all{
    background-image: url(https://static-dm.akamaized.net/siege/prod/6b7885a09c1f3d4061157b6b5f04f481.png), url(https://static-dm.akamaized.net/siege/prod/f9b222cd800c493a01561af81c456fa0.png), url(https://static-dm.akamaized.net/siege/prod/c7b872203768028fdd4b6aed54c69ea3.png),url(https://static-dm.akamaized.net/siege/prod/5222e2b34a1864b076632b9b47dddaaa.png), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg);
    width: 100%;
}

 h1{
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
    margin-left: 50%;
    margin-right: 6%;
    margin-top: 7vh;
}

.button-atacante{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 6%;
    margin-top: 15vh;
}

.button-atacanteefeito{
    padding: 13px 25px 11px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    color: #24262a;
    background: #2499ff;
    border-bottom: 5px solid #2499ff;
}

.text{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.atacante-icon{
    content: "";
    margin: 0;
    width: 40px;
    height: 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
