@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: bold,sans-serif;
    font-size: 18px;
}
::-webkit-scrollbar { width: 12px; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #3a3a3a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #959595; border-radius: 3px;}

/*Sidebar total*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #2499ff;
    width: 15%;
    height: 100vh;
}

/*Icone de usuário e Nome completo*/
.icone-perfil {
    display: flex;
    width: 50%;
    margin-top: 6vh;
    justify-content: center;
    align-self: center;
}

h3 {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 4vh;
}

/*Categorias do sidebar - lista*/

.sidebar-titulo { 
    display: flex;
    width: 100%;
    margin-left: 1vh;
    margin-right: 4vh;
    justify-content: center;
    align-items: center;
    font-size: .5;
    color: black;
    }

.sidebar-lista {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 60vh;
    justify-content: space-evenly;
}

.sidebar-lista li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

.sidebar-lista li a {
    display: flex;
    text-decoration: none;
    width: 100%;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    transition: 0.4s;
}

/*Hover das categorias do sidebar - lista*/
.sidebar-lista li a:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 6px 2px 1px rgba(0, 255, 230, .5), inset 0px 0px 25px 5px rgba(0,255,230,0);
    border: 1px solid rgba(0, 255, 230, .5);
    transition: 0.4s;
}

/*Icones das categorias (lista) do sidebar*/
.sidebar-icone-lista {
    display: flex;
    justify-content: flex-start;
    margin-left: 5vh;
}

a {
    -webkit-transition: color .18s ease-in-out;
    transition: color .18s ease-in-out;
    will-change: color;
    -webkit-text-decoration-skip: objects;
    background-color: transparent;
    color: #fcae18;
    text-decoration: none;
}