@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar { width: 12px; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #3a3a3a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #959595; border-radius: 3px;}
  
body {
    background-image: url(https://static-dm.akamaized.net/siege/prod/6b7885a09c1f3d4061157b6b5f04f481.png), url(https://static-dm.akamaized.net/siege/prod/f9b222cd800c493a01561af81c456fa0.png), url(https://static-dm.akamaized.net/siege/prod/c7b872203768028fdd4b6aed54c69ea3.png),url(https://static-dm.akamaized.net/siege/prod/5222e2b34a1864b076632b9b47dddaaa.png), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg);
    background-color: #FFFFFF; 
    width: 100%;
}


header{
    --header-bg: #00000099;
    --header-height: 80px;
    height: var(--header-height);
    background-color: var(--header-bg);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgb(0 0 0) 0px 0px 10px;
    transition: background-color 0.1s ease-in 0s;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 1vh 0;
}
a{
    text-decoration: none;
}
.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 1vh 0;
}
.logotipo h1{
    font-size: 5vh;
    transition: 0.3s;
    
}
.menu-lista{
    display: flex;
    align-items: center;
}
.menu-lista li{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
    margin: 0 2vh;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.menu-lista li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    
    
}
.menu-lista li a:hover{
    color: #1e90ff;
    transition: 0.3s;
}
/*hover para aparecer a linha do link*/
.menu-lista li a:after{
    content: "";
    position: absolute;
    background-color: #1e90ff;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -6px;
    transition: 0.3s;
}
.menu-lista li a:hover:after{
    width: 100%;
}   

/* Main */

.container-all {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.six-invi{
    margin-left: 2vw;
    margin-top: 23vh;
    border-radius: 40px;
}
.texto{
    display: flex;
     width: 50%;
     flex-direction: column;
     margin-top: 25vh;
}
.texto-inicial{
    font-size: 2rem;
    margin-left: 2vw;
    text-shadow: 5px 1px 10px #FFFFFF;
    color: #FFFFFF;
}
.sobre-invi{
    margin-top: 5vh;
    font-size: 1.5rem;
    margin-left: 2vw;
    text-shadow: 5px 1px 10px #FFFFFF;
    color: #FFFFFF;
}
.linha-separacao{
    margin-top: 10vh;
     height: 4px;
     background: #FFFFFF;
     position: relative;
}
.sobre-jogo{
    margin-top: 5rem;
    background-image: url(https://static-dm.akamaized.net/siege/prod/6b7885a09c1f3d4061157b6b5f04f481.png), url(https://static-dm.akamaized.net/siege/prod/f9b222cd800c493a01561af81c456fa0.png), url(https://static-dm.akamaized.net/siege/prod/c7b872203768028fdd4b6aed54c69ea3.png),url(https://static-dm.akamaized.net/siege/prod/5222e2b34a1864b076632b9b47dddaaa.png), url(https://static-dm.akamaized.net/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg);
}
.oque_e_rainbow{
    margin-bottom: 30px;
    font-size: 80px;
    line-height: 67px;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 67px;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.connheca-jogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FFFFFF;
    font-size: 1.2rem;
}
.trailer{
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    margin-block-end: 3em;
}
.relacoes{
    margin-top: 5rem;
}
.valores{
    display: flex;
}

.caixa-total{ /* div que cobre tudo */
    background-color: #000000ff;
}
.caixa-cima{ /* div da parte de cima*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.textos{ /* div da parte do fale conosco */
    display: flex;
    flex-direction: column;
    gap: 1vh 0;
    color: white;
    margin: 0 5vh;
}
.logotipo{ /* div da parde do logo */
    margin: 0 5vh;
}
/* divs da parte de dentro do fale conosco */
.textos .email{
    display: flex;
}
.textos .telefone{
    display: flex;
}
.textos .email p{
    padding: 0 1vh;
}
.textos .telefone p{
    padding: 0 1vh;
}
/* div da parte de baixo */
.caixa-baixo{
    display: flex;
    color: #C5C3FF;
    align-items: center;
    padding: 2vh;
    margin: 0 5vh;
}
    